#employee-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{

    border: 2px black solid;
    margin: 1em 1em 1em 1em;
    /* justify-content: center; */
    /* margin: 0 auto; */


}

img{
    display: inline-block;
    border: 1px navy solid;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

.dept-title{
    text-align: center;

        color: navy;

    }

    .card-title{
        text-align: center;
    }

    .supervisor{

        background: cornflowerblue;
    }

    .employee{

        background: lightblue;
    }

.edit-btn{
    background: greenyellow;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0 1em 0 1em;

}

.delete-btn{
    background: red;
    padding: 0.2em 0.3em 0.2em 0.3em;
    margin: 0 1em 0 1em;
    justify-items: center;


}
#form-header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 1px black solid;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }